
*.pyc
*.pyo
.DS_Store
.Spotlight-V100
.Trashes
.svn
__pycache__
*~
*.orig
build/
dist/
*.log
*egg-info/
doc.old/
recipes_output/

# copy in doc
doc_src/src/README.md
doc_src/src/CHANGES.md
doc_src/src/odfdo.png

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
# mypy
.mypy_cache/
.dmypy.json
dmypy.json

pyrightconfig.json
local.sh
