.DS_Store
.Spotlight-V100
.Trashes

__pycache__
*.py[oc]
build/
dist/
wheels/
*.egg-info

docs/

.venv
.ropeproject/
*~
*.orig
*.log

doc.old/
recipes_output/
# copy in doc
doc_src/src/README.md
doc_src/src/CHANGES.md
doc_src/src/odfdo.png
pyrightconfig.json
local.sh

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.ruff_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
